ion-content {
  --background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.ion-padding {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-card {
  margin: 0;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-header {
  ion-toolbar {
    --background: #2a524e;
    --color: white;
    
    ion-title {
      color: white;
      font-family: sans-serif;
      font-weight: 500;
    }
  }
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 56px;
}

ion-label {
  font-family: sans-serif;
  
  h2 {
    font-weight: 600;
    margin-bottom: 4px;
    font-family: sans-serif;
    color: #333;
  }
  
  p {
    color: var(--ion-color-medium);
    font-family: sans-serif;
  }
}

ion-card-title {
  font-family: sans-serif;
  font-weight: 600;
  color: #2a524e;
}

ion-card-subtitle {
  font-family: sans-serif;
  color: #666;
}

